/* Remove default browser margins */
body, h1 {
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
    padding-top: 10px;   /* minimal space */
}

.progress-container {
    display: flex;
    justify-content: center;
    margin-top: 5px;     /* reduce gap between title & bar */
}

/* Progress bar */
.outer-bar {
    width: 280px;
    height: 25px;
    background: #e6e6e6;
    border-radius: 12px;
    overflow: hidden;
}

.inner-bar {
    height: 100%;
    background: linear-gradient(90deg, #3bff7a, #00c853);
    transition: width 0.35s ease;
    display: flex;
    justify-content: center;

    color: black;
}
